*{
    box-sizing: border-box;
}
body {
    background-color: rgb(232, 232, 232);
  }
  
  /* HEADER  */
  .back:hover {
    background-color: #5491fb;
    color: white;
    cursor: pointer;
    border: 1px solid #5491fb;
  }
  
  .back a {
    text-decoration: none;
    color: white;
  }
  
  .back {
    height: 50px;
    width: 250px;
    color: white;
    background-color: #37517e;
    border: 2px solid #47b2e4;
    border-radius: 17px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px 12px;
  }
  
  #header {
    background-color: #37517e;
    color: white;
    padding: 27px 27px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .home-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: top;
  }
  
  .header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  @media (max-width: 624px) {
    .header-container {
      flex-direction: column;
    }
  
    .home-img {
      margin-bottom: 10px;
    }
  
    .back {
      width: auto;
      padding: 7px 12px;
    }
  }


  /* BOOK  */
#book{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
  
.wrapper {
  background: transparent;
  border: 2px solid rgb(156, 35, 122s);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px #333;
  width: 700px;
  border-radius: 10px;
  padding: 40px;
  height: 1120px;
}

.wrapper .borderline {
  border: 2px solid #3b609f;
  border-radius: 10px;
  padding: 40px;
  height: 100%;
}

.wrapper h1 {
  text-align: center;
  font-size: 36px;
  color: #0b52cd;
  font-weight: 600;
}

.wrapper .input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.Country-reg {
  height: 60px;
  width: 329px;
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  padding-left: 100px;
  font-size: 16px;
}

.input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0px 35px;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.input_box label {
  position: absolute;
  left: 35px;
  top: 30%;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  pointer-events: none;
}

.input_box input:valid ~ label,
.input_box input:focus ~ label {
  color: #3b79e5;
  font-size: 16px;
  transform: translateY(-25px);
  font-size: 17px;
}

.input_box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  background: rgb(0, 0, 0);
}

.input_box small {
  margin: 0 2px;
  visibility: hidden;
  color: rgba(253, 6, 6, 0.843);
}

.input_box box-icon {
  position: absolute;
  left: 7px;
  font-size: 36px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #0b52cd;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 60px;
  margin-left: -2px;
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
}

.wrapper .btn a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #ffffff;
  font-size: 17.5px;
  font-weight: 600;
}

.wrapper .btn:hover {
  opacity: 0.9;
  transition: 0.15s;
}


.planner-name,
.order{
  height: 60px;
  width: 96vh;
  padding: 12px 50px;
  font-size: 17px;
  border: 2px solid black;
  background-color: rgb(232, 232, 232);
}

.order{
  height: 120px;
  padding: 30px;
}



@media screen and (max-width: 1024px) {
  #book {
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    width: 90%;
    height: auto;
    max-height: none;
  }

  .wrapper .borderline {
    padding: 30px;
  }

  .planner-name ,
  .order{
    width: 100%;
    max-width: 829px;
  }
}

