/* NEWSLETTER */
#newletter {
  margin-top: 40px;
  background-color: rgb(225, 225, 225);
  text-align: center;
  padding: 50px;
  margin-bottom: 70px;
}

#newletter h3 {
  font-size: 40px;
  color: #173f83;
  font-weight: 700;
  letter-spacing: 3px;
}

#newletter p {
  margin-top: 25px;
  font-size: 19px;
  margin-bottom: 30px;
}

#news-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#news-content input {
  height: 48px;
  width: 400px;
  border: none;
  border-radius: 25px;
  padding: 5px 21px;
  font-size: 18px;
}

#news-content input:focus {
  outline: red;
  border: 2px solid #0d63f6;
}

#news-content button {
  height: 62px;
  width: 300px;
  font-size: 19px;
  background-color: #0d63f6;
  color: white;
  border: 1px solid white;
  border-radius: 32px;
  margin-left: 20px;
}

#news-content button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.15s;
}

.newsSection {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.newsSection.newsShow {
  opacity: 1;
  transform: none;
}

/* Responsive Styles */
@media (max-width: 991px) {
  #newletter {
    padding: 40px;
  }

  #newletter h3 {
    font-size: 32px;
  }

  #newletter p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  #news-content {
    flex-direction: column;
  }

  #news-content input {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  #news-content button {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  #newletter {
    padding: 30px;
  }

  #newletter h3 {
    font-size: 28px;
  }

  #newletter p {
    font-size: 14px;
  }

  #news-content input {
    height: 40px;
    font-size: 16px;
  }

  #news-content button {
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #newletter {
    padding: 20px;
  }

  #newletter h3 {
    font-size: 30px;
  }

  #newletter p {
    font-size: 18px;
  }

  #news-content input {
    height: 36px;
    font-size: 14px;
  }

  #news-content button {
    height: 46px;
    font-size: 14px;
  }
}